# Pandas Dataframes

In this notebook, you will learn about `Pandas` dataframes, a data structure in `Python` that provides the ability to work with **tabular data**. `Pandas` dataframes are composed of **rows** and **columns** that can have header names, and the columns in `pandas` dataframes can be different types (e.g. the first column containing integers and the second column containing text strings). Each value in a `pandas` dataframe is referred to as a cell that has a specific row index and column index within the tabular structure.

Read more about working with `pandas` dataframes in our open [Earth Data Science textbook](https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/pandas-dataframes/).

The [documentation](https://pandas.pydata.org/docs/user_guide/index.html) for the `pandas` library may also be useful.

In [ ]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Open Colombia airports .csv 
# Data are from: https://ourairports.com/countries/CO/

# Define url
col_airports_url = "https://ourairports.com/countries/CO/airports.csv"

# Open data with pandas and return first 5 rows

In [ ]:
# Return names of column headers using .column attribute

In [ ]:
# Explore the data using .info() method

In [ ]:
# Return summary statistics using the .describe() method

In [ ]:
# Transpose (flip row/column) the data using the .T attribute or .transpose() method

In [ ]:
# Select a single column and describe

In [ ]:
# Select first 5 rows (can also be done using .head())

In [ ]:
# Use .crosstab() function to return counts of specified variables

# **Questions for airport DataFrame**
1. How many airports above/below 5280' elevation?

2. How many medium sized airports?

3. How many heliports are in Bogota municipality?

In [ ]:
# How many airports above 5280' (1 mile = elevation of Denver, Colorado)?

In [ ]:
# How many medium-sized airports?

In [ ]:
# How many heliports?

## **Fiscalized Oil & Gas Production 2020**

This is another good example for doing pivots in pandas.

**Objective:** Want to make a plot that has the monthly values ($, gal) plotted as a function of month as a line graph with each line colored by _operadora_. Allow to compare the different companies month-to-month. Also, **GeoPark** is in this data set. Can you find it? ;)

In [ ]:
# Define link to data url and open using pd.read_csv()
oil_prod_2020_url = ("https://www.datos.gov.co/resource/6v67-9pip.csv")

In [ ]:
# Renaming the index column using .index.rename()


# Selecting data up through a specified column 'campo' using .loc

In [ ]:
# Melting the data to examine values by specifed month
op20_month_df = (
    op20_df
    .loc[:,'enero':'diciembre']
    .reset_index()
    .melt(id_vars='oil_gas_id', var_name='month_name', value_name='value'))
op20_month_df

In [ ]:
# Explore data using .info() method

In [ ]:
# How many entries for each variable 'departmento'? Hint: df.groupby('col_name').size()

In [ ]:
# How many entries for each variable 'operadora' ?

## **Look exclusively at GeoPark**

In [ ]:
# Select out all Geopark entries

In [ ]:
# Select 'campo' and each of the 12 month columns and make new df


# Group by 'campo' and sum for each month

In [ ]:
# Select out single month from gpk_campo_group and calculate sum

In [ ]:
# Transpose DataFrame

In [ ]:
# Plot each variable (campo) as function of month on same axis

In [ ]:
# Drop the outlier JACAMAR & TIGANA using .drop()

In [ ]:
# Plot each variable (campo) as function of month on same axis

## **Look at all operadoras**

In [ ]:
# Select 'operadora' and each of the 12 month columns and make new df

In [ ]:
# Group by 'operadora' then sum -> return single entry per company per month

In [ ]:
# Transpose the DataFrame

In [ ]:
# Give index_col name of 'months'

In [ ]:
# Return list of column names for transposed DataFrame

In [ ]:
# Plot columns (operadora) one-at-a-time

In [ ]:
# Drop the outlier ECOPETROL S.A.

In [ ]:
# Plot each variable (company name) as function of month on same axis

# Look at all Departamentos

In [ ]:
# Group by 'departamento' then sum -> return single entry per dept. per month

# Select only columns with numeric values

# Drop lat/long columns

In [ ]:
# Transpose data

# Give index_col name of 'months'

In [ ]:
# Plot each variable (Departamento) as function of month on same axis

# **Questions for production DataFrame**
**1.** What was the total production for GPK in agosto 2020?

**2.** How many field sites (campo) are in the XXX Departamento?

**3.** Create a plot comparing GPK to other two operators (operadora) of your choice.

In [ ]:
# Looking at global oil production using another data set from OECD

global_oil_url = "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.OILPROD.TOT.KTOE.A/OECD?contentType=csv&detail=code&separator=comma&csv-lang=en&startPeriod=1960&endPeriod=2021"

global_oil_df = pd.read_csv(global_oil_url)
print(global_oil_df)

# Select COLOMBIA and print first 5 rows


# Plot Colombia data